<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="y1">
  <link name="world"/>
  <joint name="fixed_base_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.005949 0.000000 0.024801"
        rpy="0 0 0" />
      <mass
        value="0.710540" />
      <inertia
        ixx="0.000566"
        ixy="0.000000"
        ixz="0.000023"
        iyy="0.000756"
        iyz="0.000000"
        izz="0.000756" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes_y1/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes_y1/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="0.000714 -0.002250 0.050285"
        rpy="0 0 0" />
      <mass
        value="0.899595" />
      <inertia
        ixx="0.000720"
        ixy="0.000000"
        ixz="-0.000001"
        iyy="0.000761"
        iyz="0.000001"
        izz="0.000588" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes_y1/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes_y1/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JOINT1"
    type="revolute">
    <origin
      xyz="0 0 0.06675"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.0"
      upper="3.0"
      effort="30"
      velocity="5" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="-0.149351 0.115505 -0.000634"
        rpy="0 0 0" />
      <mass
        value="0.988000" />
      <inertia
        ixx="0.004810"
        ixy="0.005076"
        ixz="-0.000039"
        iyy="0.007045"
        iyz="0.000034"
        izz="0.010863" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes_y1/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes_y1/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JOINT2"
    type="revolute">
    <origin
      xyz="0.00075 0 0.055"
      rpy="1.5708 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.5"
      upper="0.2"
      effort="100"
      velocity="5" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="0.141471 0.038383 -0.001058"
        rpy="0 0 0" />
      <mass
        value="0.799000" />
      <inertia
        ixx="0.000759"
        ixy="-0.000374"
        ixz="-0.000050"
        iyy="0.006772"
        iyz="-0.000011"
        izz="0.006676" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes_y1/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes_y1/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JOINT3"
    type="revolute">
    <origin
      xyz="-0.28 0 0"
      rpy="0 0 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.2"
      upper="4.1"
      effort="30"
      velocity="5" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="0.034560 0.082865 0.005072"
        rpy="0 0 0" />
      <mass
        value="0.448259" />
      <inertia
        ixx="0.000632"
        ixy="-0.000171"
        ixz="0.000050"
        iyy="0.000282"
        iyz="0.000126"
        izz="0.000655" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes_y1/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes_y1/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JOINT4"
    type="revolute">
    <origin
      xyz="0.215 0.063 0"
      rpy="0 0 0" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.5"
      upper="1.7"
      effort="10"
      velocity="20" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="0.019129 0.000018 0.035048"
        rpy="0 0 0" />
      <mass
        value="0.364000" />
      <inertia
        ixx="0.000189"
        ixy="0.000000"
        ixz="-0.000010"
        iyy="0.000187"
        iyz="0.000000"
        izz="0.000150" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes_y1/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes_y1/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JOINT5"
    type="revolute">
    <origin
      xyz="0.080817 0.05072 0.00025"
      rpy="1.5708 0 -0.015918" />
    <parent
      link="Link4" />
    <child
      link="Link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.0"
      upper="2.0"
      effort="10"
      velocity="20" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin
        xyz="0.031920 -0.000193 0.043758"
        rpy="0 0 0" />
      <mass
        value="0.047000" />
      <inertia
        ixx="0.000020"
        ixy="0.000000"
        ixz="0.000000"
        iyy="0.000011"
        iyz="0.000000"
        izz="0.000011" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes_y1/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes_y1/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="JOINT6"
    type="revolute">
    <origin
      xyz="0.0235 0 0.044"
      rpy="3.1416 1.5708 3.1416" />
    <parent
      link="Link5" />
    <child
      link="Link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.0"
      upper="3.0"
      effort="10"
      velocity="20" />
  </joint>

  <!-- gripper_ee link，合并两指的质量与惯量 -->
  <link name="gripper_ee">
    <inertial>
      <!-- 质量 = 左指 + 右指 -->
      <mass value="0.736000"/>
      <!-- 假设 COM 在 Link6 末端中心 -->
      <origin xyz="-0.006110 0.000000 0.051496" rpy="0 0 0"/>
      <!-- 转动惯量：示例写法，可根据 CAD 或工具计算更精确 -->
      <inertia 
        ixx="0.001564" iyy="0.001098" izz="0.001491"
        ixy="-0.000052" ixz="-0.000030" iyz="0.000000"/>
    </inertial>

    <!-- 可选：几何形状仅用作可视化，不影响动力学 -->
    <visual>
      <origin xyz="0 0 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.1"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
  </link>

  <!-- 固定关节，把 gripper_ee 固定到 Link6 末端 -->
  <joint name="Link6_to_gripper_ee" type="fixed">
    <parent link="Link6"/>
    <child link="gripper_ee"/>
    <!-- 这里的 origin 根据你 Link6 的末端坐标系来设定，
        假设 gripper_ee 在 Link6 末端中心 -->
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>