<?xml version="1.0" encoding="utf-8"?>
<robot
  name="y1"
  xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- world -->
  <link name="world"/>
  <joint name="fixed_base_joint" type="fixed">
    <origin
      xyz="0 0 0.08475"
      rpy="0 0 0" />
    <parent link="world"/>
    <child link="base_link"/>
    <axis
      xyz="0 0 1" />
  </joint>
  <!-- y1 -->
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00052734 -6.0025E-06 0.026597"
        rpy="0 0 0" />
      <mass
        value="1.297" />
      <inertia
        ixx="0.0034593"
        ixy="3.9801E-08"
        ixz="-2.7609E-06"
        iyy="0.0011495"
        iyz="7.38E-08"
        izz="0.0042157" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="J1_Link">
    <inertial>
      <origin
        xyz="3.9262E-05 -0.0010592 0.036782"
        rpy="0 0 0" />
      <mass
        value="0.34057" />
      <inertia
        ixx="0.00012062"
        ixy="5.3096E-08"
        ixz="-1.3854E-09"
        iyy="0.0001608"
        iyz="1.6367E-08"
        izz="0.00014358" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes/J1_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes/J1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J1_JOINT"
    type="revolute">
    <origin
      xyz="0 0 0.08475"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="J1_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="9"
      velocity="5" />
  </joint>
  <link
    name="J2_Link">
    <inertial>
      <origin
        xyz="0.14776 0.0015373 -6.263E-05"
        rpy="0 0 0" />
      <mass
        value="0.94239" />
      <inertia
        ixx="0.00033621"
        ixy="-0.00010007"
        ixz="-1.7885E-05"
        iyy="0.0067903"
        iyz="6.3442E-07"
        izz="0.0068905" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes/J2_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes/J2_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J2_JOINT"
    type="revolute">
    <origin
      xyz="0 0 0.055"
      rpy="-1.5708 0 0" />
    <parent
      link="J1_Link" />
    <child
      link="J2_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="0"
      effort="9"
      velocity="20" />
  </joint>
  <link
    name="J3_Link">
    <inertial>
      <origin
        xyz="-0.095861 -0.041922 0.0019274"
        rpy="0 0 0" />
      <mass
        value="0.69617" />
      <inertia
        ixx="0.00041963"
        ixy="0.00040523"
        ixz="4.3292E-06"
        iyy="0.0020271"
        iyz="-3.286E-08"
        izz="0.0022409" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes/J3_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes/J3_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J3_JOINT"
    type="revolute">
    <origin
      xyz="0.28 0 0"
      rpy="0 0 0" />
    <parent
      link="J2_Link" />
    <child
      link="J3_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="9"
      velocity="20" />
  </joint>
  <link
    name="J4_Link">
    <inertial>
      <origin
        xyz="-0.047131 -0.039412 0.0066509"
        rpy="0 0 0" />
      <mass
        value="0.27357" />
      <inertia
        ixx="0.00015259"
        ixy="2.404E-05"
        ixz="-3.9657E-07"
        iyy="0.00013272"
        iyz="1.3905E-06"
        izz="0.00016094" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes/J4_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes/J4_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J4_JOINT"
    type="revolute">
    <origin
      xyz="-0.21401 -0.050985 0"
      rpy="0 0 0" />
    <parent
      link="J3_Link" />
    <child
      link="J4_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.74"
      upper="1.74"
      effort="3"
      velocity="5" />
  </joint>
  <link
    name="J5_Link">
    <inertial>
      <origin
        xyz="0.006836 3.7476E-05 0.027245"
        rpy="0 0 0" />
      <mass
        value="0.16994" />
      <inertia
        ixx="8.168E-05"
        ixy="-3.1597E-08"
        ixz="9.4321E-06"
        iyy="6.5589E-05"
        iyz="-1.5004E-08"
        izz="5.7856E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes/J5_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes/J5_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J5_JOINT"
    type="revolute">
    <origin
      xyz="-0.0723 -0.04549 0"
      rpy="1.5708 0 -3.0543" />
    <parent
      link="J4_Link" />
    <child
      link="J5_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.74"
      upper="1.74"
      effort="3"
      velocity="5" />
  </joint>
  <!-- <link
    name="J6_Link">
    <inertial>
      <origin
        xyz="-0.074223 0.00078642 -0.099511"
        rpy="0 0 0" />
      <mass
        value="0.8" />
      <inertia
        ixx="0.051146"
        ixy="0.00029798"
        ixz="-0.011966"
        iyy="0.075493"
        iyz="1.8184E-05"
        izz="0.035212" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes/J6_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://y1_description/meshes/J6_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J6_JOINT"
    type="revolute">
    <origin
      xyz="0.020033 0 0.033914"
      rpy="1.5466 1.5708 1.5466" />
    <parent
      link="J5_Link" />
    <child
      link="J6_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.61"
      upper="2.61"
      effort="3"
      velocity="5" />
  </joint> -->

  <!-- controller -->
  <xacro:macro name="transmission_block" params="tran_name joint_name motor_name">
    <transmission name="${tran_name}">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="${joint_name}">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="$motor_name">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
  </xacro:macro>

  <xacro:transmission_block tran_name="tran1" joint_name="J1_JOINT" motor_name="motor1"/>
  <xacro:transmission_block tran_name="tran2" joint_name="J2_JOINT" motor_name="motor2"/>
  <xacro:transmission_block tran_name="tran3" joint_name="J3_JOINT" motor_name="motor3"/>
  <xacro:transmission_block tran_name="tran4" joint_name="J4_JOINT" motor_name="motor4"/>
  <xacro:transmission_block tran_name="tran5" joint_name="J5_JOINT" motor_name="motor5"/>
  <!-- <xacro:transmission_block tran_name="tran6" joint_name="J6_JOINT" motor_name="motor6"/> -->
  <!-- <xacro:transmission_block tran_name="tran7" joint_name="joint7" motor_name="motor7"/> -->
  <!-- <xacro:transmission_block tran_name="tran8" joint_name="joint8" motor_name="motor8"/> -->
  
  <!-- gazebo -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/gazebo</robotNamespace>
        <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>

  <gazebo reference="J1_JOINT">
    <provideFeedback>true</provideFeedback>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>100.0</updateRate>
      <topicName>/joint1_force_torque</topicName>
      <jointName>J1_JOINT</jointName>
    </plugin>
  </gazebo>

  <gazebo reference="J2_JOINT">
    <provideFeedback>true</provideFeedback>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>100.0</updateRate>
      <topicName>/joint2_force_torque</topicName>
      <jointName>J2_JOINT</jointName>
    </plugin>
  </gazebo>

  <gazebo reference="J3_JOINT">
    <provideFeedback>true</provideFeedback>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>100.0</updateRate>
      <topicName>/joint3_force_torque</topicName>
      <jointName>J3_JOINT</jointName>
    </plugin>
  </gazebo>
  <gazebo reference="J4_JOINT">
    <provideFeedback>true</provideFeedback>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>100.0</updateRate>
      <topicName>/joint4_force_torque</topicName>
      <jointName>J4_JOINT</jointName>
    </plugin>
  </gazebo>

  <gazebo reference="J5_JOINT">
    <provideFeedback>true</provideFeedback>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>100.0</updateRate>
      <topicName>/joint5_force_torque</topicName>
      <jointName>J5_JOINT</jointName>
    </plugin>
  </gazebo>

  <!-- <gazebo reference="J6_JOINT">
    <provideFeedback>true</provideFeedback>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>100.0</updateRate>
      <topicName>/joint6_force_torque</topicName>
      <jointName>J6_JOINT</jointName>
    </plugin>
  </gazebo> -->

</robot>