<launch>

  <node pkg="y1_controller" type="y1_controller" name="y1_arm"
       output="screen" launch-prefix="gdb -ex run --args"> 
    <!-- CAN ID -->
    <param name="arm_can_id" value="can0"/>
    <!-- arm feedback frequency (HZ) -->
    <param name="arm_feedback_rate" value="200"/>
    <!-- arm control type. leader_arm(remote master arm), follower_arm(remote slave arm) -->
    <param name="arm_control_type" value="normal_arm"/>
    <!-- 0: nothing, 1: gripper, 2: teaching pendant -->
    <param name="arm_end_type" value="3"/>
    <!-- whether to enable robotic arm -->
    <param name="auto_enable" value="true"/>

    <!-- end pose control arm -->
    <param name="arm_end_pose_control_topic" value="/y1/arm_end_pose_control"/>
    <!-- joint position control arm -->
    <param name="arm_joint_position_control_topic" value="/y1/arm_joint_position_control"/>
    <!-- end pose and joint position feedback -->
    <param name="arm_feedback_topic" value="/y1/arm_state"/>
  </node>

</launch>